.App {
  text-align: center;
}

h3 {
  color: yellow;
}

body {
  background: #282828;
}

.keyword {
  font-weight: bold;
  color: #6d0c08;
}

.image1 {
  width: 158px;
  height: 227px;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
}

.cardImg {
  width: 158px;
  height: 227px;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.disabled {
  -webkit-filter: grayscale(100%);
}

.cardTier {
  width: 160px;
  height: 229px;
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.leader {
  background-image: url(../images/med/card-frame-leader.png);
}
.bronze {
  background-image: url(../images/med/card-frame-bronze.png);
}
.gold {
  background-image: url(../images/med/card-frame-gold.png);
}

.faction {
  width: 45px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}

.monster {
  background-image: url(../images/med/card-banner-mo.png);
}
.neutral {
  background-image: url(../images/med/card-banner-nt.png);
}
.nilfgaard {
  background-image: url(../images/med/card-banner-ng.png);
}
.scoiatael {
  background-image: url(../images/med/card-banner-sc.png);
}
.northern_realms {
  background-image: url(../images/med/card-banner-nr.png);
}
.skellige {
  background-image: url(../images/med/card-banner-sk.png);
}
.syndicate {
  background-image: url(../images/med/card-banner-nt.png);
}

.rarity {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 7px;
  background-size: 100% 100%;
}

.rare {
  background-image: url(../images/med/rarity-rare.png);
}
.legendary {
  background-image: url(../images/med/rarity-leg.png);
}
.epic {
  background-image: url(../images/med/rarity-epic.png);
}
.common {
  background-image: url(../images/med/rarity-common.png);
}

.factionProv {
  width: 25px;
  height: 33px;
  position: absolute;
  bottom: 3px;
  right: 1px;
  background-size: 100% 100%;
}

.monsterProv {
  background-image: url(../images/med/cardns-mo.png);
}
.neutralProv {
  background-image: url(../images/med/cardns-nt.png);
}
.nilfgaardProv {
  background-image: url(../images/med/cardns-ng.png);
}
.scoiataelProv {
  background-image: url(../images/med/cardns-sc.png);
}
.northern_realmsProv {
  background-image: url(../images/med/cardns-nr.png);
}
.skelligeProv {
  background-image: url(../images/med/cardns-sk.png);
}
.syndicateProv {
  background-image: url(../images/med/cardns-nt.png);
}

.provisionImg {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 34px;
  right: 1px;
  background-size: 100% 100%;
  background-image: url(../images/med/median.png);
}

.cardType {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 8px;
  background-size: 100% 100%;
}

.unitType {
  background-image: url(../images/med/card-banner-nt.png);
}
.spellType {
  background-image: url(../images/med/media-spell1.png);
}
.artifactType {
  background-image: url(../images/med/media.png);
}
.leaderType {
  background-image: url(../images/med/media-leader.png);
}

@font-face {
  font-family: "Gwent Numbers";
  src: local("gwent-numbers"), url(../images/gwent-numbers.woff) format("woff");
}

.strength {
  position: absolute;
  top: 7px;
  left: 17px;
  font-family: "Gwent Numbers";
  font-size: 2em;
  line-height: 1.1;
  color: #fdd47c;
}

.provision {
  position: absolute;
  bottom: 5px;
  right: 9px;
  font-family: "Gwent Numbers";
  font-size: 2em;
  line-height: 0.9;
  color: #fdd47c;
}

.builder__card {
  position: relative;
  float: left;
  cursor: pointer;
}

.builder__card-count {
  background: url(../images/card-counter.png) no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 2px;
  font-family: "Gwent Numbers";
  color: #fff;
  padding-left: 12px;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery {
  margin: 5px;
  position: relative;
}

.clearfix {
  margin: 10px;
}

.clearfix h4,
h5 {
  color: #fadf8b;
}

.clearfix::after {
  margin-bottom: 20px;
}

.scroll {
  overflow-y: scroll;
  max-height: 800px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.deck-container {
  flex: 40%;
  padding: 10px;
}

.tooltiptext {
  max-width: 300px;
}

.cardTooltip {
  position: relative;
  border-radius: 5px;
}

.cardName {
  padding: 10px 15px;
  background-image: url(../images/med/factions-textures-nt.jpg);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.cardPop {
  top: 0;
  left: 0;
  z-index: 99;
  position: absolute;
  background-image: url(../images/med/card-text-popup.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cardDesc {
  background-image: url(../images/med/card-tooltip-backup.jpg);
  padding: 10px 15px;
  padding-bottom: 15px;
  color: #442d25;
  border-radius: 5px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-image: url(../images/med/card-tooltip-backup.jpg);
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.filters {
  font-size: 16px;
  padding: 30px 20px;
}

.inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.inline div {
  color: #fadf8b;
}

label input {
  position: absolute;
  visibility: hidden;
}

.inline input:checked + span {
  background-color: #404040;
  color: #f7f7f7;
}

label span {
  text-align: center;
  display: flex;
  margin: 4px 2px;
  padding: 12px 15px;
  cursor: pointer;
  border: none;
  background-color: #e9e9e9;
  border-radius: 4px;
}

.search {
  display: inline-block;
  position: absolute;
}

.search div {
  color: #fadf8b;
}

.input[type="text"] {
  display: flex;
  margin: 4px 2px;
  padding: 11px 15px;
}

button {
  display: flex;
  margin: 4px 2px;
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.builder__deck-counters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.builder__deck-counters-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.builder__deck-counters-ico {
  width: 28px;
}

.builder__deck-counters-current {
  font-size: 20px;
  padding: 0 5px;
  padding-left: 2px;
  font-weight: bold;
}

.builder__deck-counters-current-col {
  color: #ea4f5a;
  font-size: 20px;
  padding: 0 5px;
  padding-left: 2px;
  font-weight: bold;
}

.builder__deck-counters-limit {
  border-left: 1px solid #494a4b;
  padding-left: 5px;
}

.builder__deck-counters-limit-text {
  font-size: 10px;
  text-transform: uppercase;
}

.iconframe {
  width: 60%;
  height: 60%;
}

.deck-build {
  color: #fadf8b;
  max-width: 310px;
  min-width: 250px;
}

.deck-build__card {
  background: no-repeat right 20%/70%;
  font-size: 16px;
  border-bottom: 1px solid #000;
  padding-right: 8px;
  margin-bottom: 8px;
  position: relative;
}

.deck-build__card-leader {
  background: no-repeat right 20%/70%;
  font-size: 16px;
  border-bottom: 1px solid #000;
  padding-right: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
}

.card-leader-info {
  height: 90px;
  display: flex;
  align-items: center;
  line-height: 40px;
  background: linear-gradient(
    to right,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cardChoose {
  height: 40px;
  display: flex;
  align-items: center;
  line-height: 40px;
  background: linear-gradient(
    to right,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    #111111 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

.deck-build__card-power {
  width: 40px;
  text-align: center;
  font-family: "Gwent Numbers";
  font-size: 32px;
}

.deck-build__card-name {
  height: inherit;
  overflow: hidden;
}

.deck-build__card-provision {
  margin-left: auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  white-space: nowrap;
}

.deck-build__card-provision-ico {
  width: 15px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
  background: url(../images/med/prov.png) no-repeat;
  margin: 0 1px 0 2px;
}

.deck-build__card-provision-x {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: -3px;
}

.deck-build__leader-name {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  overflow: hidden;
}

.leadframe {
  width: 103%;
  height: 100px;
  position: absolute;
  top: -4px;
  left: -2px;
  background: url(../images/leader-frame.png) no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cardframe {
  width: 103%;
  height: 50px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bronzeFrame {
  background-image: url(../images/bronze-frame.png);
}

.goldFrame {
  background-image: url(../images/golden-frame.png);
}

.deck-build__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-monster {
  background: url(../images/factions-mon.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

.btn-nilf {
  background: url(../images/factions-nilf.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

.btn-north {
  background: url(../images/factions-nor.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

.btn-skoi {
  background: url(../images/factions-sco.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

.btn-skel {
  background: url(../images/factions-ske.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.btn-synd {
  background: url(../images/factions-syn.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #e9e9e9;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.saveButtonDeck {
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
}

.alert {
  font-weight: bold;
  width: 140px;
  text-align: center;
  margin-left: 10px;
}
.toastCustom {
  position: absolute;
  color: #111111;
}

.decks-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.deck-item {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 0;
  left: 170px;
}

.deck-preview {
  display: block;
  color: #fadf8b;
  width: 210px;
  height: 301px;
  background-size: cover;
  margin-right: 15px;
  margin-bottom: 15px;
}

.decklink:hover {
  text-decoration: none;
}

.deck-preview__inner {
  padding: 20px 15px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(180deg,transparent 10%,hsla(0,0%,7%,.9));
}

.deck-preview__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.deck-info {
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  color: #fadf8b;
  font-size: 18px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}
